<h1>@ViewBag.Heading </h1>
<div class="panel panel-default">
    <div class="panel-heading">Online PSC Exams</div>
    <div class="panel-body">
        @Html.ActionLink("English Online PSC Exam ", "OnlineEnglishPSCTest", "KeralaPSC", new { @class = "btn btn-success" })
        @Html.ActionLink("Malayalam Online PSC Exam ", "OnlineMalayalamPSCTest", "KeralaPSC", new { @class = "btn btn-success" })
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">Sample PSC Questions</div>
    <div class="panel-body">
        @Html.ActionLink("English PSC Questions", "EnglishPSCQuestions", "KeralaPSC", new { @class = "btn btn-success" })
        @Html.ActionLink("Malayalam  PSC Questions", "PSCMalayalamQuestions", "KeralaPSC", new { @class = "btn btn-success" })
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">University Assistant 2019 training</div>
    <div class="panel-body">
        @Html.ActionLink("University Assistant Questions", "EnglishPSCQuestions", "KeralaPSC", new { @class = "btn btn-success" })
        @Html.ActionLink("University Assistant Rest", "PSCMalayalamQuestions", "KeralaPSC", new { @class = "btn btn-success" })
    </div>
</div>

<div>
    @{
        Html.RenderPartial("/Views/Shared/_CommentBox.cshtml");
    }
</div>





